*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 238, 244);
    font-family: sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    outline: 0;
    background-color: transparent;
    border: 0;
}
svg {
    cursor: pointer;
    width: 18px;
}
